name: PHP CS Fixer

on:
  workflow_call:
    inputs:
      php-version:
        description: 'The PHP version used to run the workflow.'
        required: false
        type: string
        default: '8.2'
      php-cs-fixer-ignore-env:
        description: 'Set to true to ignore PHP CS Fixer PHP version requirement'
        required: false
        type: string
        default: 'false'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  php-cs-fixer:
    name: php-cs-fixer
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version }}
          tools: composer:v2
          coverage: none
          github-token: ${{ secrets.YARD_BOT_PAT }}
        env:
          COMPOSER_AUTH_JSON: |
            {
              "http-basic": {
                "packagist.yard.nl": {
                  "username": "${{ secrets.YPACKAGIST_API_KEY }}",
                  "password": "${{ secrets.YPACKAGIST_PASSWORD }}"
                },
                "satis.yard.nl": {
                  "username": "${{ secrets.SATIS_USERNAME }}",
                  "password": "${{ secrets.SATIS_PASSWORD }}"
                }
              }
            }

      - name: Install composer dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Run PHP CS Fixer
        run: ./vendor/bin/php-cs-fixer fix
        env:
          PHP_CS_FIXER_IGNORE_ENV: ${{ inputs.php-cs-fixer-ignore-env }}

      - name: "Import GPG key"
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_commit_gpgsign: true

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'style: apply php-cs-fixer changes'
          push_options: '--force'
          commit_author: "${{ steps.import-gpg.outputs.name }} <${{ steps.import-gpg.outputs.email }}>"
          commit_user_name: ${{ steps.import-gpg.outputs.name }}
          commit_user_email: ${{ steps.import-gpg.outputs.email }}
        env:
          GITHUB_TOKEN: ${{ secrets.YARD_BOT_PAT }}
