name: NPM Lockfile Changes

on:
  - workflow_call

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lockfile_changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required to make it possible to compare with PR base branch
      - name: NPM Lockfile Changes
        if: hashFiles('package-lock.json') != ''
        uses: rvanvelzen/npm-lockfile-changes@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
